<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/8.1.0/adapter.min.js" ></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>

		<script type="text/javascript">
			var server = "https://home.gozhev.ru:50000/janus";
			var token = "{{.Token}}";
		</script>

		<script type="text/javascript" src="./script/janus.js" ></script>
		<script type="text/javascript" src="./script/script.js"></script>
		<link rel="stylesheet" type="text/css" href="./style/style.css"/>
		<link rel="shortcut icon" type="image/x-icon" href="./image/favicon.ico"/>

		<title>psi | home.gozhev.ru</title>
	</head>
	<body>
		<div class="video-layout">
			<div class="screen">
				<video id="video" playsinline muted></video>
			</div>
			<div class="ui">
				<ul class="infoboard">
					<li><div id="cur_status">-</div></li>
					<li><div id="cur_resolution">-</div></li>
					<li><div id="cur_bitrate">-</div></li>
				</ul>
				<ul class="selector" id="streams">
					<!--li><button>DEFAULT</button></li-->
				</ul>
			</div>
		</div>
	</body>
</html>
<!-- vim:set ts=2 sw=2 noet: -->
